@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: dark;
  }

  html {
    min-height: 100%;
  }

  body {
    min-height: 100vh;
  }

  #root {
    isolation: isolate;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
